/* App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy', sans-serif;
  font-weight: bolder;
}

html, body {
  height: 100%;
  width: 100%;
}

#a {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  border-bottom: 2px solid black;
  justify-content: space-between;
  width: 100%;
  background-color: white;
}

#other {
  display: flex;
  gap: 4vw;
  align-items: center;
}

button {
  height: 5vh;
  font-size: 1vw;
  padding: 0.7vw 1.4vw;
  background-color: lightseagreen;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 600;
}

img {
  height: 5%;
  width: 5%;
}
